<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Menu</li>
      <li>
          <a routerLink="/home">
          <i class="fa fa-dashboard"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/team">
          <i class="fa fa-edit"></i>
          <span>Times</span>
        </a>
      </li>
      <li>
        <a routerLink="/tournament">
          <i class="fa fa-edit"></i> <span>Torneios</span>
        </a>
      </li>
      <li>
        <a routerLink="/result">
          <i class="fa fa-edit"></i> <span>Resultados</span>
        </a>
      </li>
      <li>
          <a routerLink="/match">
            <i class="fa fa-edit"></i> <span>Partidas</span>
          </a>
        </li>
    </ul>
  </section>
</aside>
